@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<p>
    <a href="/board">Board</a>
    <a href="/user/logout">Logout</a>
    <a href="/projects/add">create project</a>
</p>



